.section {
  border-radius: 15%;
  align-items: center;
}
.section_title h4 {
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.548);

  font-family: Roboto;
}
.section_title h1 {
  text-align: center;
  font-size: 80px;
  color: rgba(255, 255, 255, 0.479);
  width: 100%;
  text-shadow: 2px 2px 5px rgb(231, 209, 11);
}

.section_picture img {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
  background-color: linear-gradient(
    rgba(255, 255, 255, 0.438),
    rgba(255, 217, 0, 0.616)
  );
  margin-top: 20px;

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.social-icons {
  font-size: 0.75em;
  text-align: center;
  color: white;
  margin-top: 3em;
}
i.fab {
  display: inline-block;
  transition: all 0.5s;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  line-height: 40px;
  cursor: pointer;
}
i.fab:hover {
  background-color: gold;
}
i.fab + i.fab {
  margin-left: 1em;
}
